<svg width="260px" height="260px" viewBox="0 0 260 260" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 51.2 (57519) - http://www.bohemiancoding.com/sketch -->
    <title>Intro-Secure-Money</title>
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Intro-Secure-Money" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Circle-Frame" transform="translate(26.000000, 26.000000)">
            <g id="BG-Shapes">
                <circle id="Oval-2" class="stroke3 base-fill" stroke-width="2" cx="15.5" cy="57.5" r="4.5"></circle>
                <circle id="Oval-2-Copy" class="stroke3 base-fill" stroke-width="2" cx="164.5" cy="21.5" r="4.5"></circle>
                <polygon id="Combined-Shape-Copy" class="fill3" points="126 4 130 4 130 6 126 6 126 10 124 10 124 6 120 6 120 4 124 4 124 0 126 0"></polygon>
                <path d="M63.5,5.25 L100.5,5.25" id="Line-4" class="stroke3" stroke-width="2" stroke-linecap="round"></path>
                <path d="M104,5.20833333 L108,5.20833333" id="Line-4-Copy" class="stroke3" stroke-width="2" stroke-linecap="round"></path>
                <path d="M112,5.20833333 L116,5.20833333" id="Line-4-Copy-2" class="stroke3" stroke-width="2" stroke-linecap="round"></path>
                <polygon id="Combined-Shape-Copy" class="fill3" points="183 39 187 39 187 41 183 41 183 45 181 45 181 41 177 41 177 39 181 39 181 35 183 35"></polygon>
                <path d="M129.5,40.25 L166.5,40.25" id="Line-4" class="stroke3" stroke-width="2" stroke-linecap="round"></path>
                <path d="M170,40.2083333 L174,40.2083333" id="Line-4-Copy" class="stroke3" stroke-width="2" stroke-linecap="round"></path>
                <path d="M163.5,57.25 L200.5,57.25" id="Line-4" class="stroke3" stroke-width="2" stroke-linecap="round"></path>
                <path d="M204,57.2083333 L208,57.2083333" id="Line-4-Copy" class="stroke3" stroke-width="2" stroke-linecap="round"></path>
                <polygon id="Combined-Shape-Copy" class="fill3" transform="translate(11.000000, 30.000000) rotate(180.000000) translate(-11.000000, -30.000000) " points="12 29 16 29 16 31 12 31 12 35 10 35 10 31 6 31 6 29 10 29 10 25 12 25"></polygon>
                <path d="M28.5,30.15 L65.5,30.15" id="Line-4" class="stroke3" stroke-width="2" stroke-linecap="round" transform="translate(47.000000, 29.950000) rotate(180.000000) translate(-47.000000, -29.950000) "></path>
                <path d="M20,30.1083333 L24,30.1083333" id="Line-4-Copy-2" class="stroke3" stroke-width="2" stroke-linecap="round" transform="translate(22.000000, 29.950000) rotate(180.000000) translate(-22.000000, -29.950000) "></path>
                <polygon id="Combined-Shape-Copy" class="fill3" points="6 88 10 88 10 90 6 90 6 94 4 94 4 90 0 90 0 88 4 88 4 84 6 84"></polygon>
                <polygon id="Combined-Shape" class="fill3" points="12 29 16 29 16 31 12 31 12 35 10 35 10 31 6 31 6 29 10 29 10 25 12 25"></polygon>
            </g>
            <circle id="Circle" class="stroke1 fill-base" stroke-width="3" cx="104" cy="118" r="91"></circle>
            <path d="M35,175.117648 L172.858761,175.117648 C156.451726,194.932133 131.664695,207.555233 103.929381,207.555233 C76.1940667,207.555233 51.4070355,194.932133 35,175.117648 Z" id="Circle-Floor" class="fill5"></path>
            <path d="M163.152815,175 L172.858761,175 C156.451726,194.814486 131.664695,207.437585 103.929381,207.437585 C94.9813075,207.437585 86.3401097,206.123695 78.1881878,203.678317 C83.9224735,204.832144 89.8552229,205.437585 95.9293807,205.437585 C122.719744,205.437585 146.759299,193.659979 163.152815,175 Z" id="Circle-Shadow" class="shadow"></path>
            <g id="Line" transform="translate(15.000000, 175.000000)" class="stroke1" stroke-linecap="round" stroke-width="3">
                <path d="M8.5,0.25 L166.5,0.25" id="Line-5"></path>
                <path d="M0.5,0.208333333 L4.5,0.208333333" id="Line-5-Copy"></path>
                <path d="M171.5,0.208333333 L175.5,0.208333333" id="Line-5-Copy-2"></path>
            </g>
        </g>
        <g id="Shield" class="move-shield" transform="translate(29.000000, 58.000000)">
            <path d="M-1.5,12.8482104 L37,12.8482104 C45.2820725,12.8482104 51.0968243,10.3485169 55.0663442,5.21376309 L60.991135,-2.45022237 L66.9270111,5.20518061 C70.9139165,10.3470278 76.7215565,12.8482104 84.9716797,12.8482104 L123.5,12.8482104 L123.5,73.3008895 C123.5,90.3511938 104.629748,112.458665 65.0877223,142.754379 L60.4889926,146.277765 L55.9181963,142.718217 C17.0689602,112.46403 -1.5,90.3395387 -1.5,73.3008895 L-1.5,12.8482104 Z" id="outer-shield" class="stroke1 fill4" stroke-width="3" fill-rule="nonzero" stroke-linecap="round" stroke-linejoin="round"></path>
            <path d="M6,20.5473209 L37,20.5473209 C47.5641276,20.5473209 55.5641276,17.0315473 61,10 C66.4521484,17.0315473 74.4427083,20.5473209 84.9716797,20.5473209 L116,20.5473209 C116,41.8504091 116,59.5013021 116,73.5 C116,87.4986979 97.5087891,108.665365 60.5263672,137 C24.1754557,108.691406 6,87.5247396 6,73.5 C6,59.4752604 6,41.8243674 6,20.5473209 Z" id="inner-shield" class="fill2"></path>
            <circle id="circle" class="fill-base" cx="60" cy="66" r="34"></circle>
            <polyline id="check" class="stroke2" stroke-width="11" points="43 63.472168 53.9709473 74.4431152 77.4140625 51"></polyline>
        </g>
        <g id="Coin-Stack" class="hide-small-device" transform="translate(107.000000, 148.000000)">
            <g id="coin" transform="translate(10.000000, 0.000000)">
                <rect class="stroke1 fill4" stroke-width="3" x="0" y="0" width="80" height="12" rx="2"></rect>
                <rect id="highlight" class="highlight" x="17" y="1.52587891" width="6" height="8.97412109"></rect>
                <rect id="highlight" class="highlight" x="11" y="1.52587891" width="4" height="8.97412109"></rect>
            </g>
            <g id="coin" transform="translate(0.000000, 13.000000)">
                <rect class="stroke1 fill4" stroke-width="3" x="0" y="0" width="80" height="12" rx="2"></rect>
                <rect id="highlight" class="highlight" x="17" y="1.52587891" width="6" height="8.97412109"></rect>
                <rect id="highlight" class="highlight" x="11" y="1.52587891" width="4" height="8.97412109"></rect>
            </g>
            <g id="coin" transform="translate(10.000000, 26.000000)">
                <rect class="stroke1 fill4" stroke-width="3" x="0" y="0" width="80" height="12" rx="2"></rect>
                <rect id="highlight" class="highlight" x="17" y="1.52587891" width="6" height="8.97412109"></rect>
                <rect id="highlight" class="highlight" x="11" y="1.52587891" width="4" height="8.97412109"></rect>
            </g>
            <g id="coin" transform="translate(7.000000, 39.000000)">
                <rect class="stroke1 fill4" stroke-width="3" x="0" y="0" width="80" height="12" rx="2"></rect>
                <rect id="highlight" class="highlight" x="17" y="1.52587891" width="6" height="8.97412109"></rect>
                <rect id="highlight" class="highlight" x="11" y="1.52587891" width="4" height="8.97412109"></rect>
            </g>
        </g>
        <g id="Coin" class="hide-small-device" transform="translate(123.000000, 49.000000)">
            <circle id="Oval" class="stroke1 fill4" stroke-width="3" cx="38.5" cy="56.5" r="40"></circle>
            <path d="M17.4701899,88.7542862 C6.95113297,81.8818542 0,70.0026892 0,56.5 C0,35.2370371 17.2370371,18 38.5,18 C48.0562235,18 56.7992594,21.4816704 63.5298101,27.2457138 C57.4842913,23.2959855 50.2602737,21 42.5,21 C21.2370371,21 4,38.2370371 4,59.5 C4,71.2067393 9.22500791,81.6931127 17.4701899,88.7542862 Z" id="highlight" class="highlight"></path>
            <path d="M14.4766665,86.1920805 C20.5221853,90.1418088 27.7462028,92.4377942 35.5064765,92.4377942 C56.7694394,92.4377942 74.0064765,75.2007571 74.0064765,53.9377942 C74.0064765,42.2310549 68.7814686,31.7446816 60.5362866,24.683508 C71.0553435,31.55594 78.0064765,43.4351051 78.0064765,56.9377942 C78.0064765,78.2007571 60.7694394,95.4377942 39.5064765,95.4377942 C29.950253,95.4377942 21.2072171,91.9561238 14.4766665,86.1920805 Z" id="shadow" class="shadow"></path>
            <path d="M39,27 C22.9837423,27 10,39.9837423 10,56" id="streak" class="stroke1" stroke-width="3" stroke-linecap="round"></path>
            <path d="M49.1230469,45.3320312 C42.7724609,40.81318 30.3823242,42.1645508 30.3823242,49.4287109 C30.3823242,54.2714844 33.4000651,56.5848993 39.4355469,56.3689556 C45.4046224,56.8840529 48.3891602,59.5626628 48.3891602,64.4047852 C48.3891602,71.6679687 35.0649414,73.0854492 28.9272461,66.5537109" id="dollar-s" class="stroke1" stroke-width="5"></path>
            <path d="M39.5,75.5 L39.5,37.5" id="dollar-l" class="stroke1" stroke-width="4" stroke-linecap="round"></path>
            <g id="bursts" transform="translate(27.000000, 0.000000)" class="stroke1" stroke-linecap="square" stroke-width="3">
                <path d="M12.5,12.5 L12.5,0.5" id="Line-7"></path>
                <path d="M0.982552493,14.0163007 L0.206095358,11.1185233" id="Line-7"></path>
                <path d="M51.0381305,79.25 L58.8323591,83.75" id="Line-7"></path>
                <path d="M55.6781598,67.7655244 L67.3217085,70.6685871" id="Line-7"></path>
                <path d="M56.9170294,53.8948161 L64.8975418,53.3367643" id="Line-7"></path>
                <path d="M54.3122765,41.7819634 L65.5885879,37.6777217" id="Line-7"></path>
                <path d="M47.5263931,29.6034497 L50.6784361,27.1408038" id="Line-7"></path>
                <path d="M24.2762666,14.0503749 L25.0527237,11.1525974" id="Line-7"></path>
                <path d="M37.1370416,20.0234836 L41.6105849,13.391183" id="Line-7"></path>
            </g>
        </g>
    </g>
</svg>