<h1 class="app-header">SVG Playground</h1>

<GalleryCustomizer></GalleryCustomizer>

<a class="about-link" href="https://github.com/drinkingtheink/ember-svg-playground" target="_blank">About this Project</a>

{{outlet}}